/* styles.css */

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header styles */
header {
    background-color: #4CAF50;
    padding: 20px;
    position: relative;
    height: 15px; /* Increase height of navbar */
}

.navbar {
    position: absolute;
    top: 10px;
    right: 20px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px; /* Add margin below heading */
}

.container form {
    margin-top: 20px;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #45a049;
}

.container p {
    margin-top: 10px;
}

.container p a {
    color: blue;
}

/* Footer styles */
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.language-switcher {
    margin-top: 10px;
    font-size: 14px;
    display: inline; /* Change display to inline */
}

.language-switcher a {
    text-decoration: none;
    color: #333; /* Change color as needed */
}

.language-switcher a:hover {
    color: #666; /* Change color as needed */
}
